In [10]:
%cd /data/ephemeral/home/Seung/pro-recsys-bookratingprediction-recsys-04/eda

/data/ephemeral/home/Seung/pro-recsys-bookratingprediction-recsys-04/eda

/data/ephemeral/home/py310/lib/python3.10/site-packages/IPython/core/magics/osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [ ]:
import pandas as pd


df = pd.read_csv("data_v3_minyou/books.csv")

In [12]:
df.head()

,isbn,book_title,book_author,year_of_publication,publisher,img_url,language,category,summary,img_path,...,publisher_review_count_bin,author_book_count,author_book_count_log,author_book_count_bin,author_review_count,author_review_count_log,author_review_count_bin,title_count,book_title_proc,title_cluster
0,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,en,actresses,"In a small town in Canada, Clara Callan reluct...",images/0002005018.01.THUMBZZZ.jpg,...,"(-0.001, 24.0]",1.0,0.693147,"(0.999, 3.0]",7.0,2.079442,"(3.0, 10.0]",1,Clara Callan,151
1,0060973129,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,en,1940 1949,"Here, for the first time in paperback, is an o...",images/0060973129.01.THUMBZZZ.jpg,...,"(-0.001, 24.0]",2.0,1.098612,"(0.999, 3.0]",2.0,1.098612,"(1.0, 3.0]",1,Decision in Normandy,129
2,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,en,medical,"Describes the great flu epidemic of 1918, an o...",images/0374157065.01.THUMBZZZ.jpg,...,"(156.0, 736.0]",1.0,0.693147,"(0.999, 3.0]",5.0,1.791759,"(3.0, 10.0]",1,Flu: The Story of the Great Influenza Pandemic...,134
3,0399135782,The Kitchen God's Wife,Amy Tan,1991.0,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,en,fiction,A Chinese immigrant who is convinced she is dy...,images/0399135782.01.THUMBZZZ.jpg,...,"(736.0, 2555.0]",39.0,3.688879,"(23.0, 446.0]",548.0,6.308098,"(51.0, 3709.0]",2,The Kitchen God's Wife,121
4,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000.0,Berkley Publishing Group,http://images.amazon.com/images/P/0425176428.0...,en,history,"Essays by respected military historians, inclu...",images/0425176428.01.THUMBZZZ.jpg,...,"(2555.0, 10227.0]",5.0,1.791759,"(3.0, 7.0]",7.0,2.079442,"(3.0, 10.0]",2,What If?: The World's Foremost Military Histor...,129

In [ ]:
books = pd.read_csv("cleaned_data_sj/books.csv")
users = pd.read_csv("cleaned_data_sj/users.csv")
ratings = pd.read_csv("cleaned_data_sj/train_ratings.csv")

In [18]:
books.head()

,isbn,book_title,book_author,year_of_publication,publisher,img_url,language,category,summary,img_path
0,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,en,'Actresses',"In a small town in Canada, Clara Callan reluct...",images/0002005018.01.THUMBZZZ.jpg
1,0060973129,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,en,'1940-1949',"Here, for the first time in paperback, is an o...",images/0060973129.01.THUMBZZZ.jpg
2,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,en,'Medical',"Describes the great flu epidemic of 1918, an o...",images/0374157065.01.THUMBZZZ.jpg
3,0399135782,The Kitchen God's Wife,Amy Tan,1991.0,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,en,'Fiction',A Chinese immigrant who is convinced she is dy...,images/0399135782.01.THUMBZZZ.jpg
4,0425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000.0,Berkley Publishing Group,http://images.amazon.com/images/P/0425176428.0...,en,'History',"Essays by respected military historians, inclu...",images/0425176428.01.THUMBZZZ.jpg

In [19]:
users.head()

   user_id   age                            location
0        8  34.0            timmins, ontario, canada
1    11400  49.0             ottawa, ontario, canada
2    11676  34.0                                 usa
3    67544  30.0            toronto, ontario, canada
4    85526  36.0  victoria, british columbia, canada

In [20]:
ratings.head()

   user_id        isbn  rating
0        8  0002005018       4
1    67544  0002005018       7
2   123629  0002005018       8
3   200273  0002005018       8
4   210926  0002005018       9